@media (max-width: 767px) {
  ::ng-deep .cdk-overlay-pane {
    max-width: 95vw !important;
  }
}

.character{
  color: white !important;
}

.container-senha {
  padding: 24px !important;
  max-width: 350px !important;
}
