<div class="content-wrapper">
  <app-spinner [show]="spinner"></app-spinner>
  <div class="content">
    <div class="container-fluid">
      <div class="content-header">
        <button
          *ngIf="this.inicialPage"
          (click)="goBack()"
          type="button"
          class="btn btn-pattern button-goback"
          [ngClass]="[
            (this.seletorPeculiaridadesCatalogos.clientes.cliente14 ||
              this.seletorPeculiaridadesCatalogos.clientes.cliente18) &&
              'white',
            schema
          ]"
        >
          Voltar &nbsp; <i class="fa fa-arrow-left"></i>
        </button>
        <ng-content select="[header]"></ng-content>
      </div>
      <div class="content-body">
        <div class="card">
          <ng-content select="[filter]"></ng-content>
          <div class="card-body" *ngIf="showBody">
            <ng-content select="[body]"></ng-content>
          </div>
          <div class="card-footer" *ngIf="showFooter">
            <ng-content select="[footer]"></ng-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
