<div class="container-filtros">
  <mat-card-header>
    <mat-card-title>Pesquisar Pedidos</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="formulario" *ngIf="formulario">
      <div class="row mb-4">
        <div class="col-12">
          <label for="initialDate"> Data Inicial </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
            </div>
            <input type="text" placeholder="" class="form-control" bsDatepicker maxlength="10"
              formControlName="initialDate">
          </div>
        </div>
        <div class="col-12">
          <label for="finalDate"> Data Final </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
            </div>
            <input type="text" placeholder="" class="form-control" bsDatepicker maxlength="10"
              formControlName="finalDate">
          </div>
        </div>
        <div class="col-12">
          <label for="sel"> Status </label>
          <ng-select [items]="listStatus" [loading]="loadListStatus" [multiple]="true"
          bindLabel="description" bindValue="statusId" formControlName="status" placeholder="Selecione...">
        </ng-select>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-raised-button class="btn btn-pattern" (click)="buscar()">Buscar</button>
    <button mat-raised-button (click)="limpar()">Limpar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-card-actions>
</div>
