/* Estilos específicos para ng-select no componente de login */
::ng-deep .ng-select {
  max-width: 270px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

::ng-deep .ng-select:hover {
  overflow: visible;
}

::ng-deep .ng-dropdown-panel:hover {
  overflow: visible;
}

/* Responsividade para telas muito pequenas */
@media (max-width: 325px) {
  .min-h-screen {
    min-height: 110vh;
  }
}
