:host-context(.mendes) {
  --color-primary: #d90000;
  --color-primary-light: #c00812;
  --color-primary-light-shadow: #1a442b3a;
  --color-link-active: rgb(194, 81, 81);
  --font-color: #343a40;
  --font-color-light: #fff;
}

:host-context(.canguru) {
  --color-primary: #f6821f;
  --color-primary-light: #ef9b55;
  --color-primary-light-shadow: rgb(239 155 85 / 25%);
  --color-link-active: orange;
  --font-color: #343a40;
  --font-color-light: #fff;
}

:host-context(.prudenseg) {
  --color-primary: #009f41;
  --color-primary-light: #58cf8a;
  --color-primary-light-shadow: #1a442b3a;
  --color-link-active: green;
  --font-color: #343a40;
  --font-color-light: #fff;
}

:host-context(.autocar) {
  --color-primary: #e02724;
  --color-primary-light: #ff3b38;
  --color-primary-light-shadow: #1a442b3a;
  --color-link-active: #ff3b38;
  --font-color: #343a40;
  --font-color-light: #fff;
}

:host-context(.mm) {
  --color-primary: #f60000;
  --color-primary-light: #e00b15;
  --color-primary-light-shadow: #1a442b3a;
  --color-link-active: rgb(217, 88, 88);
  --font-color: #343a40;
  --font-color-light: #fff;
}

:host-context(.diskagua) {
  --color-primary: #448aff;
  --color-primary-light: #7aa7f4;
  --color-primary-light-shadow: #1a442b3a;
  --color-link-active: rgb(98, 103, 255);
  --font-color: #343a40;
  --font-color-light: #fff;
}

:host-context(.microtec) {
  --color-primary: #f99d26;
  --color-primary-light: #ffd038;
  --color-primary-light-shadow: #1a442b3a;
  --color-link-active: #ffc400;
  --font-color: #343a40;
  --font-color-light: #fff;
}

:host-context(.prudentina) {
  --color-primary: #0000ff;
  --color-primary-light: #3232ff;
  --color-primary-light-shadow: #1a442b3a;
  --color-link-active: rgb(81, 85, 194);
  --font-color: #fff;
  --font-color-light: #fff;
}

:host-context(.barone) {
  --color-primary: #d90000;
  --color-primary-light: #c00812;
  --color-primary-light-shadow: #1a442b3a;
  --color-link-active: rgb(194, 81, 81);
  --font-color: #343a40;
  --font-color-light: #fff;
}

:host-context(.atacado) {
  --color-primary: #d90000;
  --color-primary-light: #c00812;
  --color-primary-light-shadow: #1a442b3a;
  --color-link-active: rgb(194, 81, 81);
  --font-color: #343a40;
  --font-color-light: #fff;
}

:host-context(.farmsrugs) {
  --color-primary: #afafaf;
  --color-primary-light: #b1a9a9;
  --color-primary-light-shadow: #e5e5e5;
  // --color-link-active: #fff;
  --font-color: #3f3f3f;
  --font-color-light: #000;
}

:host-context(.hvs) {
  --color-primary: #000000;
  --color-primary-light: #484849;
  --color-primary-light-shadow: #1a442b3a;
  --color-link-active: rgb(80, 80, 80);
  --font-color: #fff;
  --font-color-light: #fff;
}

:host-context(.southair) {
  --color-primary: #765f47;
  --color-primary-light: #ba9f84;
  --color-primary-light-shadow: #1a442b3a;
  // --color-link-active: #000;
  --font-color: #000;
  --font-color-light: #1a442b3a;
}

:host-context(.clx) {
  --color-primary: #000;
  --color-primary-light: #000;
  --color-primary-light-shadow: #000;
  --color-link-active: #000;
  --font-color: #000;
  --font-color-light: #fff;
}

:host-context(.awsmetal) {
  --color-primary: #000000;
  --color-primary-light: #484849;
  --color-primary-light-shadow: #1a442b3a;
  --color-link-active: rgb(80, 80, 80);
  --font-color: #fff;
  --font-color-light: #fff;
}

:host-context(.teste) {
  --color-primary: #000;
  --color-primary-light: #000;
  --color-primary-light-shadow: #000;
  --color-link-active: #000;
  --font-color: #000;
  --font-color-light: #fff;
}

:host-context(.frigorichter) {
  --color-primary: #fa4949;
  --color-primary-light: #e00b15;
  --color-primary-light-shadow: #1a442b3a;
  --color-link-active: rgb(217, 88, 88);
  --font-color: #343a40;
  --font-color-light: #fff;
}

:host-context(.fase) {
  --color-primary: #5c15eb;
  --color-primary-light: #c5aaff; // fe3130
  --color-primary-light-shadow: #ffc71a;
  --color-link-active: #191818;
  --font-color: #343a40;
  --font-color-light: #f1f1f1;
}
