:host-context(.mendes) {
  --color-primary: #d90000;
  --color-primary-light: #c00812;
  --color-primary-light-shadow: #1a442b3a;
  --color-link-active: rgb(194, 81, 81);
  --font-color: 343a40;
  --font-color-light: #fff;
}

:host-context(.canguru) {
  --color-primary: #f6821f !important;
  --color-primary-light: #ef9b55 !important;
  --color-primary-light-shadow: rgb(239 155 85 / 25%);
  --color-link-active: orange !important;
  --font-color: #343a40;
  --font-color-light: #fff;
}

:host-context(.autocar) {
  --color-primary: #f6821f !important;
  --color-primary-light: #ef9b55 !important;
  --color-primary-light-shadow: rgb(239 155 85 / 25%);
  --color-link-active: orange !important;
  --font-color: #343a40;
  --font-color-light: #fff;
}

:host-context(.mm) {
  --color-primary: #f6821f !important;
  --color-primary-light: #ef9b55 !important;
  --color-primary-light-shadow: rgb(239 155 85 / 25%);
  --color-link-active: orange !important;
  --font-color: #343a40;
  --font-color-light: #fff;
}

:host-context(.diskagua) {
  --color-primary: #f6821f !important;
  --color-primary-light: #ef9b55 !important;
  --color-primary-light-shadow: rgb(239 155 85 / 25%);
  --color-link-active: orange !important;
  --font-color: #343a40;
  --font-color-light: #fff;
}

:host-context(.microtec) {
  --color-primary: #f6821f !important;
  --color-primary-light: #ef9b55 !important;
  --color-primary-light-shadow: rgb(239 155 85 / 25%);
  --color-link-active: orange !important;
  --font-color: #343a40;
  --font-color-light: #fff;
}
