<app-body-page [spinner]="spinner" [showBody]="listProdutos.length > 0">
  <div header *ngIf="listProdutos.length <= 0" class="row d-flex justify-content-center">
    <div class="col-sm-8 mb-1 form-group ">
      <div class="row d-flex justify-content-center">
        <app-carrosel-imagens-iniciar  [imagens]="this.bgStyle" *ngIf="this.bgStyle.caminhoPlanoFundoCatalogo != null"></app-carrosel-imagens-iniciar>
        <div class="col-sm-12 img-custom" *ngIf="this.bgStyle.caminhoPlanoFundoCatalogo == null && !this.seletorPeculiaridadesCatalogos.clientes.cliente2">
          <img class="img-custom" [src]='"../../../assets/images/"+this.seletorPeculiaridadesCatalogos.logoInicio+""' alt="Logo">
        </div>
        <div class="col-sm-12 centraliza-imagem-canguru" *ngIf="this.bgStyle.caminhoPlanoFundoCatalogo == null && this.seletorPeculiaridadesCatalogos.clientes.cliente2">
          <img class="img-custom-background-image"  [src]='"../../../assets/images/"+this.seletorPeculiaridadesCatalogos.logoInicio+""' alt="Logo">
        </div>
        <div class="col-sm-12 divPading">
          <div class="input-group-sm">
              <div class="box">
                <input matInput class="form-control input justify-content-center" placeholder="Código / Fábrica / Original / Similar / Descrição" [(ngModel)]="descricao" type="search" id="inputSearchDescricao">
                <button matSuffix mat-icon-button aria-label="Clear" class="botaoNoInput" (click)="buscaProdutosPorDescricao()">
                  <mat-icon [ngClass]="this.seletorPeculiaridadesCatalogos.clientes.cliente11 || this.seletorPeculiaridadesCatalogos.clientes.cliente15 ? 'black' : 'text-white'">search</mat-icon>
                </button>
              </div>
          </div>
        </div>
        <div class="col-sm-12 d-flex justify-content-center mt-2 divPading">
          <button *ngIf="this.seletorPeculiaridadesCatalogos.pesquisaAvancada" mat-raised-button class="button-primary" (click)="openModalPesquisaAvancada()">
            Pesquisa Avançada
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
  <div body *ngIf="listProdutos.length > 0">
    <app-lista-produtos [listProdutos]="listProdutos" [totalPaginas]="formEsteira.get('totalPages').value"
      (pageChanged)="goTo($event)"></app-lista-produtos>
  </div>
</app-body-page>
<div class="btn-absolute" *ngIf="listProdutos.length > 0">
  <button mat-fab color="primary" class="btn btn-pattern" (click)="openModalFiltro()" matTooltip="Pesquisar"
    aria-label="Filtrar">
    <i class="fas fa-search" aria-hidden="true"></i>
  </button>
  <button mat-fab color="primary" class="btn btn-pattern ml-2" (click)="openModalPesquisaAvancada()" matTooltip="Pesquisa Avançada"
    aria-label="Filtro Avançado">
      <i class="fa fa-search-plus" aria-hidden="true"></i>
  </button>
</div>
