<app-body-page [spinner]="spinner" [showBody]="listProdutos.length > 0">
  <div header *ngIf="listProdutos.length <= 0" class="w-full flex justify-center items-center">
    <div class="w-full md:w-4/5 lg:w-2/3 mb-3">
      <div class="w-full flex flex-col -mt-5">
        <app-carrosel-imagens-iniciar  [imagens]="this.bgStyle" *ngIf="this.bgStyle.caminhoPlanoFundoCatalogo != null"></app-carrosel-imagens-iniciar>

        <!-- Section Procurar Produtos -->
        <div class="w-full divPading mt-10 lg:mt-20">
          <div class="w-full bg-white flex flex-col items-center gap-4 rounded-xl shadow-lg shadow-gray-200/70 px-4 max-md:-mx-2 py-4">
              <h1 class="text-2xl font-medium text-black/85 mt-2">
                Pesquisar produtos
              </h1>
 
              <div class="max-sm:w-full md:w-5/6 flex items-center justify-center border-2 rounded-xl p-2 transition-all duration-150 focus-within:border-[#5c15eb] mb-3">
                <input
                  matInput
                  class="block w-full px-2 py-1.5 text-base leading-6 text-gray-700 bg-white border-none outline-none focus:outline-none focus:ring-0 shadow-none"
                  placeholder="Código / Fábrica / Original / Similar / Descrição"
                  [(ngModel)]="descricao"
                  type="search"
                  id="inputSearchDescricao"
                />
                <button
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  class="!bg-[#5c15eb] !rounded-xl flex items-center justify-center"
                  (click)="buscaProdutosPorDescricao()"
                >
                  <mat-icon [ngClass]="seletorPeculiaridadesCatalogos.clientes.cliente11 || seletorPeculiaridadesCatalogos.clientes.cliente15 ? 'black' : 'text-white'">
                    search
                  </mat-icon>
                </button>
              </div>

              <div class="w-full flex justify-center mb-2">
                <button 
                  *ngIf="this.seletorPeculiaridadesCatalogos.pesquisaAvancada" 
                  mat-raised-button 
                  class="!bg-gray-200 !border-0 !rounded-xl !px-5 !py-6 !shadow-none !text-gray-800 !font-medium" 
                  (click)="openModalPesquisaAvancada()"
                  [ngClass]="{'bg-[#5c15eb]': seletorPeculiaridadesCatalogos.clientes.cliente11 || seletorPeculiaridadesCatalogos.clientes.cliente15, 'bg-white text-black': !seletorPeculiaridadesCatalogos.clientes.cliente11 && !seletorPeculiaridadesCatalogos.clientes.cliente15}"
                >
                  Pesquisa Avançada
                </button>
              </div>
          </div>
        </div>             

        <!-- Section Navegar Abas -->
        <div class="w-full flex max-lg:flex-col justify-center gap-4 mt-6">
          <div class="bg-white w-full flex flex-col items-start justify-center gap-2 rounded-xl shadow-lg shadow-gray-200/70 px-4 py-4 cursor-pointer"
          [routerLink]="['/lancamentos']">
             <mat-icon class="text-2xl">star</mat-icon>
              
             <h1 class="text-[#5c15eb]/95 font-bold text-lg">
              Lançamentos
             </h1>

             <p>
              Confira os produtos Destaques
             </p>
          </div>

          <div class="bg-white w-full flex flex-col items-start justify-center gap-2 rounded-xl shadow-lg shadow-gray-200/70 px-4 py-4 cursor-pointer"
          [routerLink]="['/pesquisar-produtos']">
            <mat-icon class="text-2xl">inventory_2</mat-icon>

            <h1 class="text-[#5c15eb]/95 font-bold text-lg">
              Catálogo
             </h1>

             <p>
              Navegue pelo catálogo completo
             </p> 
          </div>

          <div class="bg-white w-full flex flex-col items-start justify-center gap-2 rounded-xl shadow-lg shadow-gray-200/70 px-4 py-4 cursor-pointer"
          [routerLink]="['/pedidos-realizados']">
            <mat-icon class="text-2xl">shopping_cart</mat-icon>

            <h1 class="text-[#5c15eb]/95 font-bold text-lg">
              Pedidos
             </h1>

             <p>
              Acompanhe seus pedidos
             </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div body *ngIf="listProdutos.length > 0">
  <app-lista-produtos [listProdutos]="listProdutos" [totalPaginas]="formEsteira.get('totalPages').value" (pageChanged)="goTo($event)"></app-lista-produtos>
</div>

</app-body-page>

<div class="btn-absolute" *ngIf="listProdutos.length > 0">
  <button mat-fab color="primary" class="btn btn-pattern" (click)="openModalFiltro()" matTooltip="Pesquisar" aria-label="Filtrar">
    <i class="fas fa-search" aria-hidden="true"></i>
  </button>

  <button mat-fab color="primary" class="btn btn-pattern ml-2" (click)="openModalPesquisaAvancada()" matTooltip="Pesquisa Avançada" aria-label="Filtro Avançado">
    <i class="fa fa-search-plus" aria-hidden="true"></i>
  </button>
</div>
