<app-spinner [show]="spinner"></app-spinner>

<app-body-modal [title]="'Pesquisa Avançada'">
  <form card-body role="form" [formGroup]="formulario" *ngIf="formulario" class="">
    <div class="form-group col-12">
      <app-select-model
        class="mx-4"
        [label]="'Marca'"
        [form]="formulario"
        [controlName]="'marca'"
        [list]="listaMarcas"
        [loading]="loadListaMarcas"
        [bindValue]="'description'"
        [bindLabel]="'description'"
        (change)="onMarcaChange($event)"
      >
      </app-select-model>

      <app-select-model
        class="mx-4"
        [label]="'Grupo'"
        [form]="formulario"
        [controlName]="'idGrupo'"
        [list]="listaGrupos"
        [loading]="loadListaGrupos"
        [bindValue]="'id'"
        [bindLabel]="'description'"
      >
      </app-select-model>

      <app-select-model
        class="mx-4"
        [label]="'Subgrupo'"
        [form]="formulario"
        [controlName]="'idSubgrupo'"
        [list]="listaSubgrupos"
        [loading]="loadListaSubgrupos"
        [bindValue]="'id'"
        [bindLabel]="'description'"
      >
      </app-select-model>
    </div>
  </form>

  <div card-buttons class="flex justify-center items-center p-2">
    <button (click)="cancelar()" class="flex items-center justify-center gap-2 !py-2 !px-4 !rounded-xl bg-gray-500 text-white shadow-sm hover:rotate-2 duration-300">
      Cancelar <i class="fa fa-times-circle"></i>
    </button>

    <button (click)="limpar()" class="flex items-center justify-center gap-2 !py-2 !px-4 !rounded-xl bg-gray-500 text-white shadow-sm hover:rotate-2 duration-300">
      Limpar <i class="fa fa-minus-circle"></i>
    </button>

    <button (click)="buscarProdutosFiltro()" class="flex items-center justify-center gap-2 !py-2 !px-4 !rounded-xl bg-primary text-white shadow-sm hover:bg-primary-dark hover:rotate-1 duration-300">
      Buscar <i class="fa fa-search"></i>
    </button>
  </div>
</app-body-modal>
